/*Paramètres de base*/
p {
color: #ffffff;
}
/*Lorsque ma souris est dessus*/
p:hover {
color: #ffffff;
}
/*Lorsque je clique dessus*/
p:active {
color: #0091ff;
}
.carte_texte {
    text-align: center;
    color: #ffffff
}

.presentation-contenu {
    display: flex;
    height: 150px;
    width: calc(100%);
    background-color: #03374c;
    margin: 0 90px;
}


.logo {
    height: 150px;
    width: calc(75%/3);
    background-color: #03374c;
}

.barre-de-recherche {
    height: 80px;
    width: calc(100%/3);
    background-color: #4b5d64;
}

.ses-connecter {
    height: 110px;
    width: calc(100%/3);
    background-color: #1b272c;
}

label {
  display: block;
  font:
    1rem "Fira Sans",
    sans-serif;
}

input, label {
  margin: 0.4rem 0;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.h1 {
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    gap: 50px;
}

.chois-booster {
    height: 275px;
    margin: 0 90px;
    background-color: #03374c;
}

.page_Rey_dau {
    background-color: #03374c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 90px;
}

.description_rey_dau {
    display: flex;
    gap: 40px;
}

.section_armures {
    background-color: #03374c;
    margin: 0 90px;
}

.set_armure {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.armure_A {
    height: 200px;
    width: auto;
    background-color: #00ffff;
}

.armure_B{
    height: 200px;
    width: auto;
    background-color: #5b0155;
}

.armure_Y {
    height: 200px;
    width: auto;
    background-color: #03154b;
}

.section_arme_du_monstre{
    height: auto;
    background-color: #03374c;
    margin: 0 90px;
}

.arme_craftable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.Fusarbalète_lourd{
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto;
}

.Fusarbalète_léger{
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto;
}

.Lance{
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto;
}

.arc{
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto;
}

.épée_bouclier{
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto;
}

.corne_de_chasse {
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto;
}

.insectoglaive{
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto; 
}

.épée_longue{
   max-height: 200px;
   max-width: auto;
   height: 200px;
   width: auto; 
}

.liste_monstre {
    background-color: #03374c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 90px;
}

.bestiaire {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    margin: 0 90px;
}

.chatacabra {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.quematrice {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.lala-barina {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.congalala {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.balahara {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.doshaguma {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.uth_duna {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.rompopolo {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.rey_dau {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.nerscylla {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.hirabami {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.ajarakan {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.nu_udra{
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.doshaguma_G {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.rathalos_G {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.jin_dahaad {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.odo_D_G {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.xu_wu {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.arkveld_G {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.zoh_shia {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.yian_kut_kut {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.gypceros {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.rathian {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.anjanath_tonerre_gardien {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.rathalos {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.gravios {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.blangonga {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.gore_magala {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.arkveld {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.mizustune {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.lagiacrus {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.seregios {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}

.omega_planeticos {
   max-height: 200px;
   max-width: auto;
   width: auto; 
}